<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div> 
    <table style="width:100%">
      <tr>
        <th>FAST FACTS</th>
        <th>BIRTH CHART</th>
        <th>LUCKY SYMBOLS</th>
      </tr>
      <tr>
        <td>MY BIRTHDAY IS DECEMBER 12, 1999</td>
        <td>SUN SIGN, SAGITTARIUS</td>
        <td>CENTAUR</td>
      </tr>
      <tr>
        <td>MY FAVORITE FOOD IS SPAGHETTI!</td>
        <td>RISING SIGN, GEMINI</td>
        <td>RABBIT</td>
      </tr>
       <tr>
        <td>MY FAVORITE MOVIE IS, 
        THE PERKS OF BEING A WALLFLOWER</td>
        <td>MOON SIGN, AQUARIUS</td>
        <td>FOUR LEAF CLOVER</td>
      
    </tr>
    </table>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
